:root {
  --main-bg: #95BB6C;
  --font-o: 'Open Sans', sans-serif;
  --font-ral: 'Raleway', sans-serif;
  --font-sat: 'Satisfy', sans-serif;
  --footer-bg: #303030;
}

body {
    background-color: transparent;
    margin: 0;
    padding: 0;
}
img{
  width: 100%;
}
.container{
  margin: auto;
}

h1{
  font-size: 100px;
  font-family: var(--font-ral);
  color: #fff;
  font-style: normal;
  font-weight: bold;
  margin-bottom: 0;
  letter-spacing: 30px;
}
h1 span{
  display: block;
  font-family: 'Satisfy', sans-serif;
  color: var(--main-bg);
  font-size: 72px;
  letter-spacing: 1px;
}

h2 span{
  display: block;
  font-family: 'Satisfy', sans-serif;
  letter-spacing: 1px;
  font-size: 50px;
  color: var(--main-bg);
  margin-bottom: 0;

}

h2{
  font-size: 70px;
  font-family: var(--font-ral);
  font-style: normal;
  font-weight: bold;
  letter-spacing: 30px;
  text-transform: uppercase;
 

}
p{
  font-family: var(--font-o);
  letter-spacing: 0.5px;
  line-height: 30px;
  font-size: 17px;
}
button{
  background-color: var(--main-bg);
  width: 151px;
  height: 24px;
  
  letter-spacing: 1px;
  border: none;
  color: #fff;
  text-transform: uppercase;
}

/* Header Image Background - Change the URL below to your image path (example: ../images/background.jpg) */

header {
    background: linear-gradient(rgba(48,48,48, 0.8), rgba(48,48,48, 0.8)), url('../images/Background Image.png') no-repeat center center;
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

}
/* Navbar */
.nav-bar img{
  width: 200px;
  margin: 10px 0 10px 30px;
}

.nav {
  list-style: none;
 margin-bottom: 10px;
  padding: 0;
}
.nav li{
  display: inline;
  padding: 20px;

  
}

.nav a{
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}
.nav-bar button{
  background: transparent;
  border: none;
  font-size: 16px;
  margin: 0 0 10px 200px;
  align-items: flex-end;
}

.nav-divider{
  background: var(--main-bg);
  width: 100%;
  height: 2px;
  border: none;
  width: 98%;
}

.hero{
  width: 100%;
  margin: 100px;
}
/* About */
#about{
  padding: 40px;
}
#about img{
  width: 400px;
}


/* Portfolio */

.portfolio{
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  
}
.portfolio li{
  margin-top: -20px;;
}
.portfolio li.port7 img{
  margin-top: -50px;;
}
.port1{
  grid-column: 1 / 4;
  grid-row: 1 / 12;
  
}
.port2{
  grid-column: 4 / 6;
  grid-row: 1 / 8;
}
.port3{
  grid-column: 6 / 8;
  grid-row: 1 / 12;
  
}

.port4{
  grid-column: 8/ 10;
  grid-row: 1 / 5;
}
.port5{
  grid-column: 10/ 13;
  grid-row: 1 / 12;
  
}
.port6{
  grid-column: 4/ 6;
  grid-row:  2 / 3;
  margin-top: -50px;
  padding: 0;
  
}
.port7{
  grid-column: 6/ 8;
  grid-row:  2 / 6;
  margin-top: -50px;
  
}
.port8{
  grid-column: 8/ 10;
  grid-row:  2 / 4;
  
}




/* blog */
.blog {
   list-style: none;
   margin-left: -40px;
}
.blog li{
  margin: 10px 0;
}
.blog1{
  background: url(../images/no1.png);
  height: 30vh;
}



/* contact */
#contact {
  background: url('../images/Google Map.png') no-repeat center center;
  background-size: cover;
  height: 80vh;
  width: 100%;
}
.contact{
   padding-top: 350px;
}
.contact img{
  width: 200px;
}
.address{
  background: var(--footer-bg);
}
.form{
  background: #fff;
 border-radius: 2px;
 padding: 50px 0 0 70px;
 box-shadow:   3px 2px 5px 1px #ccc; 
  
}

.form input[type="text"], 
.form input[type="email"], 
.form textarea {
	width:70%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
  padding:10px;
  background: #F1F1F1;
}

/* Footer */

footer{
  background: var(--footer-bg);
  margin-top: 400px;
}
footer .footer-icons{
  list-style: none;
}
.footer-icons li{
 display: inline;
 padding: 0 50px;
}
.footer-icons i{
  color: var(--main-bg);
}




 



